{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'ekozumi_app/SusStylesheet.css' %}">
    </head> 
    <body>
        <div class="container">
            <div class="top">
                <h1 id="title" class="hidden"><span id="logo" class="animated fadeInDown">EKOZUMI </h1>
            </div>
            <div class="login-box animated fadeInUp">
                <div class="box-header">
                    <h2>Log In</h2>
                </div>
                <form action="welcomePage.php" method="post" id="login">
    
                    <label for="username" class="">Username</label>
                    <br>
                    <input type="text" id="username">
                    <br>
                    <label for="password">Password</label>
                    <br>
                    <input type="password" id="password">
                    <br>
                    <button type="submit">Sign In</button>
                    <br>
                    <a href="{% url 'ekozumi-register' %}"><p class="small">Sign up now!</p></a>
                </form>
                
            </div>
        </div>
    </body>
</html>
