{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'ekozumi_app/Ekozumi_Stylesheet.css' %}">
        <script type="text/javascript" src="{% static 'ekozumi_app/puzzle.js' %}"></script>
        <title>Ekozumi</title>
    </head>
    <body onload="puzzle()">
        <div id="txt"></div>
        <div class="top">
            <h1 id="puzzle-notice">
                New Anagram Puzzle Releases 
                at 8:00 Daily!
            </h1>
        </div>
        <div class="box" id="puzzle">
            <div class="box-header" ><h2 id="anagram">A</h2></div>
            <label> Enter answer here</label>
            <form action="" name="f1">
            <div class="element-input">
                <input class="large" type="text" name="nw" style ="margin-bottom: 10px;">
            </div>
            <div class="submit"> 
                <input id="button" type="button"  value="Submit" onclick="checkSolve()">
            </div>
            </form>
            <label id="hint" ></label>
        </div> 
    </body>
</html>