/* Whack a mole css
   Author: Jacob Beeson
*/

*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
    width: 100%;
}

body{
    cursor: none;
    font: Arial;
    color: rgb(231, 224, 224);
    background-color: rgb(8, 71, 20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.health{
    font-size: 2em;
}

.ground{
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;

}

.holes{
    background-color: rgb(138, 71, 9);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(48, 20, 5),
    inset 0 20px 20px 15px rgb(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
}

.holes .mole{
    width: 70%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .3s ease-out;
}

@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0%);
    }
}

.cursor{
    height: 60px;
    width: 55px;
    position: absolute;
    background-image: url(../../static/Images/hammer.png);
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}

.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}

#timer {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin: 50px auto;
  }

#timer span {
    display: inline-block;
    min-width: 50px;
  }

  #startButton {
    background-color: #031703;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}